:root {
  --black: #282828;
  --blue: #3DD6F5;
  --darkblue: #405BFF;
  --red: #FF386B;
  --purple: #A34FDE;
  --yellow: #EBFF38;
  --gray: #939598;
  --graytext: #BCBEC0;
  --highlight: #EBFF38;
}

body {
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--graytext);
}

header {
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: center;
  background-image: url("./public/white-osmo.png"), url("./public/vue.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left, right;
  background-size: 150px 150px, 150px 150px;
  padding: 175px;
}

a {
  color: var(--blue);
}

a.visited {
  color: var(--red);
}

a.active {
  color: var(--yellow);
}

button {
  color: var(--darkblue);
}